
.login-card {
    display: block;
    margin: auto !important;
    margin-top: 10px !important;
    max-width: 300px !important;
}

.field {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 90%;
}
