body {
  margin: 0;
  padding: 0;
}

.login-card {
  display: block;
  margin: auto !important;
  margin-top: 10px !important;
  max-width: 400px !important;
}

.field {
  margin-left: 5% !important;
  margin-bottom: 15px !important;
  width: 90%;
}

.edit-form {
  width: 100%;
}

.edit-form-actions{
  float: right;
}

.balance-name {
  flex: 1;
}

.add-object-button {
  margin-right: 10px !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
}

.link-button {
  color: inherit;
  text-decoration: none;
}
